<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.scss">
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        {{ message.substr(0,3) }}<br>
        {{ reverseMessage }}
        <br>
        <button @click="empty">Click me</button>
        <br>
        <button @click="clicks++">Click this</button>
        You have clicked {{ clicks }} times!<br>
        <input type="text" v-model="newItem">
        <button @click="items.push(newItem)">Add Item</button>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
    </div>
    <script src="index.js"></script>
</body>
</html>